table {
    border-collapse: collapse;
    border-style: hidden;
    max-width: 800px;
  }
  
table td {
    border: 2px solid black;
    word-wrap: break-word;
  }

.followerstd {
    border-top-style: hidden;
    border-bottom-style: hidden;
  }  

.tweettd {
    border: 2px solid black;
  } 

iframe {
    max-height: 1000px;
}