nav {
    font-family: 'Open Sans', sans-serif;
    padding: 1%;
}

main {
    font-family: 'Open Sans', sans-serif;
    margin-left: 300px; 
    margin-right: 300px
}

p {
    font-size: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}

table {
    border-collapse: collapse;
    border-style: hidden;
    max-width: 800px;
    padding: 300px;
  }
  
table td {
    border: 2px solid black;
    word-wrap: break-word;
  }

.profiletd {
    border-top-style: hidden;
    border-bottom-style: hidden;
    font-size: 14px;
  }  

.tweettd {
    border: 2px solid black;
  } 

div iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
}