{% extends "layout.html" %}

{% block title %}
    Key Tweet Generator
{% endblock %}

{% block main %}
    <center><h4 class="inputlink" style="padding: 10px">Input Link of Tweet Below</h2>
        <form action="/" method="post">
            <div class="mb-3">
                <input class="form-control" id="link" name="link" placeholder="Tweet Link" type="url">
            </div>
            <button class="btn btn-dark" style="background-color: #0069e9; border: none" type="submit">Submit</button>
        </form>
        <p>
            Note: cut the last component of the URL so that it only includes the tweet ID number. 
            <br>(<a href="/">https://twitter.com/MattGrossmann/status/1536173888043986944</a>, 
            not <a href="/">https://twitter.com/MattGrossmann/status/1536173888043986944?s=20&t=2GGHgtmS0JjsOBLYSfcpWQ</a>.)
        </p>
    </center>

{% endblock %}