{% extends "layout.html" %}

{% block title %}
    Key Tweet Generator
{% endblock %}

{% block main %}
    <!-- graphic goes here -->
    <table class="table">
        <thead>
            <tr>
                <td colspan="2" scope="col" style="text-align: right">
                    <b>{{ data.retweets }} RETWEETS
                    <br>{{ data.likes }} LIKES</b>
                    <br><a href={{ data.url }}>{{ data.url }}</a>
                </td>
                <td width="100px">
                    <b>@{{ data.handle }}<br>{{ data.followers }} followers</b>
                </td>
          </tr>
        </thead>
        <tbody>
            <tr style="height: 500px">
                <!-- twitframe -->
                <td colspan="2" rowspan="2">
                    <div>
                    <iframe border=0 frameborder=0 width=550 height=800
                    src={{ data.twitframe_url }}></iframe>
                    </div>
                </td>
                <td style="border-left: 10px" width="200px">{{ data.bio }}</td>
            </tr>
        </tbody>
      </table>
{% endblock %}
